@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  color: #4ade80;
  font-family: "JetBrains Mono", monospace;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: #1a1a1a;
}
